<div class="routines">

    <ul class="list-unstyled">
        <li class="routine" ng-repeat="routine in list.routines">

            <h2>{{ routine.name }}</h2>

            <span class="pull-right">
                <h2>{{ routine.total_time }}</h2>
                <a class="glyphicon glyphicon-edit" ui-sref="routine_edit({ routineEdit: routine.name })" ng-click="list.setId(routine.id)"></a>
                <a class="glyphicon glyphicon-chevron-right" ui-sref="routine_use({ routineUse: routine.name })" ng-click="list.setId(routine.id)"></a>
            </span>

        </li>
    </ul>

    <a ui-sref="routine_create_routine" class="btn btn-primary pull-right">Add new routine</a>
</div>
