<div class="routine-use">
    <h4>{{ use.routine.name }} - {{ use.routine.total_time }}</h4>

    <h1>{{ use.current_exercise.name }}</h1>

    <h1>{{ use.current_exercise.count_down_time.minutes | timerDisplay }}:{{ use.current_exercise.count_down_time.seconds | timerDisplay }}</h1>

    <h3>Exercise {{ use.current_position }} out of {{ use.total_exercises }}</h3>

    <ul class="list-unstyled list-inline">
        <li><span ng-click="use.previousExercise()" class="glyphicon glyphicon-step-backward"></span></li>
        <li><span ng-click="use.timerReset()" class="glyphicon glyphicon-stop"></span></li>
        <li><span ng-click="use.timerStartStop()" class="glyphicon glyphicon-play"></span></li>
        <li><span ng-click="use.nextExercise()" class="glyphicon glyphicon-step-forward"></span></li>
    </ul>

    <a ui-sref="routines" class="btn btn-primary">Back to rountines list</a>
</div>
