<div class="routine-edit">
    <form name="editRoutine" novalidate ng-submit='edit.submit()'>

        <fieldset class="routine">
            <div class="form-group">
                <input name="name"
                ng-model="edit.routine.name"
                id="routine-name"
                required
                ng-maxlength="255"
                ng-focus
                type="text"
                placeholder="Routine name"
                class="form-control">
            </div>

            <div class="error"
            ng-show="edit.routine.name.$dirty && edit.routine.name.$invalid && !edit.routine.name.$focused"
            ng-messages="edit.routine.$error">
                <p ng-message="required">Please enter a name.</p>
                <p ng-message="maxlength">Please keep the routine name shorter than 255 characters.</p>
            </div>
        </fieldset>

        <fieldset ng-repeat="exercise in edit.exercises" class="exercise">
             <input maxlength="255"
                    name="name"
                    type="text"
                    ng-model="exercise.name"
                    class="form-control">

            <span ng-click="edit.deleteExerciseClick($index, exercise.id)" class="glyphicon glyphicon-remove pull-right"></span>

            <div class="completion-time">
                <label>Completion time</label>
                <select ng-options="n for n in [] | range:0:61"
                        ng-model="exercise.minutes"
                        required="required">
                </select>
                <p>Minutes</p>

                <select ng-options="n for n in [] | range:0:61"
                        ng-model="exercise.seconds"
                        required="required">
                </select>
                <p>Seconds</p>

                <input ng-model="exercise.position" value="{{ exercise.position }}" name="position" type="hidden">
            </div>
        </fieldset>

        <div class="buttons">
            <button type='button' ng-click="edit.addNewExercise()" class="btn btn-primary">Add exercise</button>
            <button type="submit" ng-disabled="createRoutine.$invalid" class="btn btn-success">Save routine</button>
            <button type="button" ng-click="edit.deleteRoutine(edit.routine.id)" class="btn btn-danger">Delete routine</button>

            <a ui-sref="routines" class="btn btn-primary btn-return">Return to routine list</a>
        </div>


    </form>
</div>
