<div class="routine-create-routine">

    <h4>Please enter the name of the routine you would like to create</h4>

    <form name="create-routine" novalidate ng-submit='create.submit()'>

        <fieldset class="form-group">
            <input name="name"
            ng-model="create.routine.name"
            id="routine-name"
            required
            ng-maxlength="255"
            ng-focus
            type="text"
            placeholder="Routine name"
            class="form-control">

            <div class="error"
            ng-show="create.routine.name.$dirty && create.routine.name.$invalid && !create.routine.name.$focused"
            ng-messages="create.routine.$error">
                <p ng-message="required">Please enter a name.</p>
                <p ng-message="maxlength">Please keep the routine name shorter than 255 characters.</p>
            </div>
        </fieldset>
        <button type="submit" ng-disabled="create-routine.$invalid" class="btn btn-primary">Continue</button>

    </form>

    <div class="alert alert-danger fade in" ng-show="create.error">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> {{ create.error }}
    </div>
</div>
