<div class="routines">

    <ul class="list-unstyled">
        <li class="routine" ng-repeat="routine in list.routines">

            <a ui-sref="routine_use({ id: routine.id })" class="link-unstyled"><h2>{{ routine.name }}</h2></a>

            <span class="pull-right">
                <a ui-sref="routine_use({ id: routine.id })" class="routine-time link-unstyled"><h2>{{ routine.total_time }}</h2></a>
                <a class="glyphicon glyphicon-edit" ui-sref="routine_edit({ id: routine.id })"></a>
                <a class="glyphicon glyphicon-chevron-right" ui-sref="routine_use({ id: routine.id })"></a>
            </span>

        </li>
    </ul>

    <a ui-sref="routine_create_routine" class="btn btn-primary add-routine">Add new routine</a>

    <div class="alert alert-danger fade in" ng-show="list.error">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> {{ list.error }}
    </div>
</div>
