<h2>Now enter the exercises that will comprise your workout</h2>

<form name="create-exercises" novalidate ng-submit="create.submit()" class="routine_add_exercises">

<table>
    <thead>
        <tr>
            <th>Exercise name</th>
            <th>Completion time</th>
        </tr>
    </thead>

    <tbody class="form-group">
        <tr ng-repeat="exercise in create.exercises">
            <td>
                <input maxlength="255"
                name="name"
                type="text"
                ng-model="exercise.name"
                class="form-control"></td>
            <td>
                <select ng-options="n for n in [] | range:0:61"
                ng-model="exercise.minutes"
                ng-init="exercise.minutes='00'"
                required="required">
                </select>
                Minutes

                <select ng-options="n for n in [] | range:0:61"
                ng-model="exercise.seconds"
                ng-init="exercise.seconds='00'"
                required="required">
                </select>
                Seconds
            </td>

            <input ng-model="exercise.position" value="{{ exercise.position }}" name="position" type="hidden">

            <td>
                <button type='button' ng-show="$last" ng-click="create.removeExercise()" class="btn btn-primary"> - </button>
            </td>
        </tr>
    </tbody>
</table>

    <button type='button' ng-click="create.addNewExercise()" class="btn btn-primary">Add exercise</button><br><br>

    <button type="submit" ng-disabled="routineCreate.$invalid" class="btn btn-primary">Save exercises</button>

</form>
