<div class="routine-create-exercises">

    <h4>Now enter the exercises that will comprise your workout</h4>

    <form name="create-exercises" novalidate ng-submit="create.submit()">

        <fieldset class="form-group" ng-repeat="exercise in create.exercises" class="exercise">
            <input maxlength="255"
                name="name"
                type="text"
                ng-model="exercise.name"
                class="form-control">

            <span ng-click="create.removeExerciseClick($index, exercise.id)" class="glyphicon glyphicon-remove pull-right"></span>

            <div class="completion-time">
                <label>Completion time</label>
                <select ng-options="n for n in [] | range:0:61"
                    ng-model="exercise.minutes"
                    ng-init="exercise.minutes='00'"
                    required="required">
                    </select>
                    Minutes

                <select ng-options="n for n in [] | range:0:61"
                    ng-model="exercise.seconds"
                    ng-init="exercise.seconds='00'"
                    required="required">
                    </select>
                    Seconds
            </div>

            <input ng-model="exercise.position" value="{{ exercise.position }}" name="position" type="hidden">
        </fieldset>

        <button type='button' ng-click="create.addNewExercise()" class="btn btn-primary">Add exercise</button><br><br>

        <button type="submit" ng-disabled="routineCreate.$invalid" class="btn btn-primary">Save exercises</button>

    </form>
</div>
