<div ng-controller="RoutineUseController as use">
    <h3>[[ use.routine.name ]] - [[ use.routine.total_time ]]</h3>

    <h1>[[ use.current_exercise.name ]]</h1>

    <h1>[[ use.current_exercise.count_down_time.minutes | timerDisplay ]]:[[ use.current_exercise.count_down_time.seconds | timerDisplay ]]</h1>

    <h3>Exercise [[ use.current_position ]] out of [[ use.total_exercises ]]</h3>

    <button type="button" ng-click="use.timerStartStop()">Start/Pause</button>

    <button type="button" ng-click="use.timerReset()">Reset</button>

    <br />

    <a href="/"><button>Back to rountines list</button></a>
</div>
