// #################### Variables ####################

/* #Colours */
/* ================================================== */


/* #Media Query Breakpoints */
/* ================================================== */

//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px
$screen-sm-min:              $screen-sm
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px
$screen-md-min:              $screen-md
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px
$screen-lg-min:              $screen-lg
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1)
$screen-sm-max:              ($screen-md-min - 1)
$screen-md-max:              ($screen-lg-min - 1)


// ##################### Styles ######################

/* #Basic Styles */
/* ================================================== */

.routine
    h2, h3
        display: inline

.routine-use
    text-align: center

/* #Typography */
/* ================================================== */

.routine-use
    h1
        font-size: 4em

/* #Links */
/* ================================================== */


/* #Buttons */
/* ================================================== */

.btn
    width: 100%

/* #Images */
/* ================================================== */

/* #Glyphicons */
/* ================================================== */

.routine .glyphicon
    font-size: 1.8em

.glyphicon-remove
    font-size: 1.8em
    color: #d9534f
    border-color: #d43f3a
    top: 0.2em

/* #Forms */
/* ================================================== */

.routine-edit
    form
        padding: 1em 0

.routine-edit, .routine-create-exercises
    .form-control
        display: inline-block
        width: 90%

.routine-edit, .routine-create-exercises
    .completion-time
        margin: 0.7em 0


/* #Lists */
/* ================================================== */

.routines li
    margin: 0.7em 0

.routine-use ul
    font-size: 3em
    margin: 1em 0


/* #Media Queries */
/* ================================================== */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min)
    .btn
        font-size: 2em

    .nav
        .title
            font-size: 4.5em
        .link
            font-size: 1.5em

    .routines
        h2
            font-size: 3em
        .glyphicon
            font-size: 2.4em
        li
            margin: 1em 0
        .btn.add-routine
            margin-top: 0.5em

    .routine-use
        h1
            font-size: 6em

        h3
            font-size: 3em

        h4
            font-size: 2em

        ul
            font-size: 5em
    /* Form pages */

    .routine-create-routine, .routine-create-exercises, .routine-edit
        h4
            font-size: 3em

        form
            .form-control
                font-size: 2em
                height: auto

            margin-bottom: 3em

    .completion-time
        font-size: 1.5em

    .glyphicon-remove
        font-size: 3.7em
        top: 0.05em

    .routine-edit, .routine-create-exercises
        .form-control
            width: 90%

    .routine-create-routine, .routine-create-exercises
        h4
            margin-bottom: 0.7em
        fieldset
            margin-bottom: 2em

    .routine-edit
        .exercise
            margin: 1.5em 0
        .buttons .btn-return
            margin-top: 1.5em
        .buttons .btn
            margin-bottom: 0.6em



/* Medium devices (desktops, 992px and up) */
// @media (min-width: $screen-md-min)
