/* #Colours */
/* ================================================== */
/* #Media Query Breakpoints */
/* ================================================== */
/* #Basic Styles */
/* ================================================== */
.routine h2, .routine h3 {
  display: inline; }

.routine-use {
  text-align: center; }

/* #Typography */
/* ================================================== */
.nav .title {
  font-size: 3em; }
.nav .link {
  font-size: 1.2em; }

.routine-use h1 {
  font-size: 4em; }

/* #Links */
/* ================================================== */
/* #Buttons */
/* ================================================== */
.btn {
  width: 100%;
  font-size: 1.2em; }

/* #Images */
/* ================================================== */
/* #Glyphicons */
/* ================================================== */
.routine .glyphicon {
  font-size: 1.8em; }

.glyphicon-remove {
  font-size: 1.8em;
  color: #d9534f;
  border-color: #d43f3a;
  top: 0.2em; }

/* #Forms */
/* ================================================== */
form {
  margin-bottom: 0.7em; }

.form-control {
  font-size: 1.2em;
  height: auto; }

.routine-edit form {
  padding: 1em 0; }
.routine-edit .buttons .btn-return {
  margin-top: 1.5em; }
.routine-edit .buttons .btn {
  margin-bottom: 0.6em; }

.routine-edit .form-control, .routine-create-exercises .form-control {
  display: inline-block;
  width: 90%;
  height: auto; }

.routine-edit .completion-time, .routine-create-exercises .completion-time {
  font-size: 1em;
  margin: 0.7em 0; }

/* #Lists */
/* ================================================== */
.routines li {
  margin: 0.7em 0; }

.routine-use ul {
  font-size: 3em;
  margin: 1em 0; }

/* #Media Queries */
/* ================================================== */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .btn {
    font-size: 2em; }

  .nav .title {
    font-size: 4.5em; }
  .nav .link {
    font-size: 1.5em; }

  .routines h2 {
    font-size: 3em; }
  .routines .glyphicon {
    font-size: 2.4em; }
  .routines li {
    margin: 1em 0; }
  .routines .btn.add-routine {
    margin-top: 0.5em; }

  .routine-use h1 {
    font-size: 6em; }
  .routine-use h3 {
    font-size: 3em; }
  .routine-use h4 {
    font-size: 2em; }
  .routine-use ul {
    font-size: 5em; }

  /* Form pages */
  form {
    margin-bottom: 3em; }
    form .form-control {
      font-size: 2em;
      height: auto; }
    form label {
      font-size: 1.5em; }

  .routine-create-routine h4, .routine-create-exercises h4, .routine-edit h4 {
    font-size: 3em; }

  .completion-time {
    font-size: 1.5em; }

  .glyphicon-remove {
    font-size: 3.7em;
    top: 0.05em; }

  .routine-edit .form-control, .routine-create-exercises .form-control {
    width: 90%; }

  .routine-create-routine h4, .routine-create-exercises h4 {
    margin-bottom: 0.7em; }
  .routine-create-routine fieldset, .routine-create-exercises fieldset {
    margin-bottom: 2em; }

  .routine-edit .exercise {
    margin: 1.5em 0; } }
/* Medium devices (desktops, 992px and up) */

/*# sourceMappingURL=styles.css.map */
