<form method="POST" action="" class="routine_add_edit">

    <fieldset>
        <label>Routine name</label>
        <input id="routine_name" maxlength="255" name="name" type="text">
    </fieldset>

    <fieldset>
        <p>
        <label>Exercise name</label>
        <input class="exercise_name" maxlength="255" name="name" type="text">

        <label>Completion time</label>
        <input class="exercise_completion_time" maxlength="255" name="completion_time" type="time">

        <input class="exercise_position" value="1" name="position" type="hidden">
        </p>

        <p>
        <label>Exercise name</label>
        <input class="exercise_name" maxlength="255" name="name" type="text">

        <label>Completion time</label>
        <input class="exercise_completion_time" maxlength="255" name="completion_time" type="time">

        <input class="exercise_position" value="2" name="position" type="hidden">
        </p>

        <p>
        <label>Exercise name</label>
        <input class="exercise_name" maxlength="255" name="name" type="text">

        <label>Completion time</label>
        <input class="exercise_completion_time" maxlength="255" name="completion_time" type="time">

        <input class="exercise_position" value="3" name="position" type="hidden">
        </p>

        <p>
        <label>Exercise name</label>
        <input class="exercise_name" maxlength="255" name="name" type="text">

        <label>Completion time</label>
        <input class="exercise_completion_time" maxlength="255" name="completion_time" type="time">

        <input class="exercise_position" value="4" name="position" type="hidden">
        </p>

        <p>
        <label>Exercise name</label>
        <input class="exercise_name" maxlength="255" name="name" type="text">

        <label>Completion time</label>
        <input class="exercise_completion_time" maxlength="255" name="completion_time" type="time">

        <input class="exercise_position" value="5" name="position" type="hidden">
        </p>
    </fieldset>

    <input type="submit" text="Save routine">

</form>
