<h2>Now enter the exercises that will make up your workout</h2>

<form method="POST" action="" class="routine_add_exercises" ng-controller="RoutineAddExercisesController as add">

<table>
    <thead>
        <tr>
            <th>Exercise name</th>
            <th>Completion time</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="exercise in add.exercises">
            <td>
                <input maxlength="255" name="name" type="text" ng-model="exercise.name" ></td>
            <td>
                <select ng-options="n for n in [] | range:0:61" ng-model="exercise.minutes" ng-init="exercise.minutes='00'" required="required">
                </select>
                Minutes
                <select ng-options="n for n in [] | range:0:61" ng-model="exercise.seconds" ng-init="exercise.seconds='00'" required="required">
                </select>
                Seconds
            </td>

            <input ng-model="exercise.position" value="[[ exercise.position ]]" name="position" type="hidden">

            <td>
                <button type='button' ng-show="$last" ng-click="add.removeExercise()"> - </button>
            </td>
        </tr>
    </tbody>
</table>

    <button type='button' ng-click="add.addNewExercise()">Add exercise</button><br><br>

    <input type="submit" ng-click="add.submit($event)" text="Save routine">

</form>
